#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Inter", sans-serif;
}
.container{
  max-width: 1000px;
  justify-content: center;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21222A;
  height: 90px;
}
.nav, .main, .container{
  margin: auto;
}
.nav, .main{
  width: 100%;
  padding: 0 30px;
}
.logo-brand{
  display:inline-flex;
  align-items: center;
  gap: 7px;
}
.logo-brand >span{
  color: #61DAFB;
  font-size: 24px;
  font-weight: 700;
}
.nav > h3{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  
}

.main {
  margin: auto;
  width: 100%;
  background: #282D35;
  padding-top:60px;
  color: #fff;
  background-image: url("../src/images/react-icon-large.png");
  background-repeat: no-repeat;
  background-position:bottom 50% right;
  margin-bottom: 20px;
  
}

.main>h1 {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
}

.list>li {
  padding: 0 10px;
  padding-block: 16px;
}
.list >li::marker {
  font-size: 1.5rem;
  color: #61DAFB;
}
.squares{
  margin-top:30px;
  padding: 10px;
}
.box {
  display: inline-block;
  margin-right: 10px;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  border: 2px solid #282D35;
}